[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=env GTK_USE_PORTAL=1 /opt/xdman/xdm-app -m %U
Name=Xtreme Download Manager
Comment=Download files at maximum speed
Categories=Network;
Icon=xdm-app
MimeType=x-scheme-handler/xdm-app;
StartupNotify=true
