pkgbase = fetchflow-bin
	pkgdesc = Fast, modern open source download accelerator and video downloader.
	pkgver = 9.1.15.14
	pkgrel = 1
	url = https://mayanktaker.com
	arch = x86_64
	license = GPL2
	depends = ffmpeg
	depends = gtk3>=3.24
	optdepends = xdg-desktop-portal: native file choosers under Wayland/sandboxes
	optdepends = libnotify: desktop notifications
	optdepends = yt-dlp: video/audio extraction from 1000+ sites
	provides = fetchflow
	conflicts = fetchflow
	source = fetchflow-9.1.15.14-1-x86_64.pkg.tar.zst::https://github.com/Mayanktaker/fetchflow/releases/download/v9.1.15.14/fetchflow-9.1.15.14-1-x86_64.pkg.tar.zst
	sha256sums = af520e81000ade72bf66ae06f52f86101cf28d068870753c99d6fa413c3b0e24

pkgname = fetchflow-bin
